<!-- About Section -->

<section id="who">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading text-center">Who are we?</h2>    
                        
                    <div class="col-lg-12">                
                        <p class="text-muted">We are a company of paralegals who are here to make the Will writing process as easy as possible for you, we offer a full estate planning consultation with every meeting in the comfort of your own home and can offer different options when it comes to estate protection and Will writing.</p>
                        <p class="text-muted">All Wills are written by staff who are qualified members of The Society of Trust and Estate Practitioners (STEP).</p>
                    </div>
                </div>
    </div>
</section>

<section id="wills" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wills</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/wills/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading ">What is a Will?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Will is a legal document you create that sets out instructions for who will inherit your estate and what should happen after you die. It includes funeral plans, how you would like your possessions to be distributed, as well as other wishes. It's a legally-binding document - <strong>but if you don't prepare it properly, it may not be valid.</strong> </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/wills/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Why do you need us?</h4>
                                </div>
                                <div class="timeline-body">
                                        <p class="text-muted">As many as <strong>60%</strong> of people don't have a Will. If you die without one, the people you care about may lose out. <strong>Your estate would be divided up in line with the rules of intestacy. This means you will have little control over who receives your estate.</strong></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/wills/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading ">When should you make a new Will?</h4>
                                </div>
                                <div class="timeline-body">
                                                <ul class="text-muted text-left">
                                                    <li>If you have an unmarried partner who should inherit from your estate</li>
                                                    <li>If you get married, and your old will is invalidated (in England and Wales) or doesn't include your new spouse (in Scotland)</li>
                                                    <li>If you have a child so that you can appoint a guardian</li>  
                                                    <li>If you buy a property or receive a large windfall</li>
                                                    <li>If you get divorced, as your previous will won't automatically be invalidated </li>    
                                                    <li>If you want to make provisions for step-children, foster children or dependents </li>    
                                                    <li>If your spouse passes away, and your previous will left the estate to them </li>
                                                    
                                                </ul>    
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/wills/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Is your Will official?</h4>
                                </div>
                                <div class="timeline-body">
                                        <p class="text-muted">In England, Wales and Northern Ireland, you need to be 18 to create a Will. You also need two witnesses to be in the same room with you when you sign the Will. Witnesses must not have any beneficial interest in the Will as this could make the Will invalid. This means they cannot receive any gifts from the Will or be named as beneficiaries. <strong>A Will that is not properly signed and witnessed is invalid.</strong> </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>