<!-- About Section -->

<section id="who">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who are we?</h2>    
                        
                    <div class="col-lg-12">                
                        <p class="text-muted">We area company of paralegals who are here to make the will writing process as easy as possible for you, we offer a full estate planning consultation with every meeting in the comfort of your own home and can offer different options when it comes to estate protection and will writing.</p>
                        <p class="text-muted">All wills are written by staff who are qualified members of The Society of Trust and Estate Practitioners (STEP).</p>
                    </div>
                </div>
    </div>
</section>

    <section id="wills" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Wills</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/wills/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading ">What is a will?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A will is a legal document you create that sets out instructions for who will inherit your estate and what should happen after you die. </p>

                                    <p class="text-muted">It includes what sort of funeral you would like, how you would like your possessions to be distributed, as well as other wishes, like who should bring up your children, if you have them.   </p>       

                                    <p class="text-muted">Sometimes known as your last will and testament, it's a legally-binding document - but if you don't prepare it properly, it may not be valid. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/wills/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Why do you need us?</h4>
                                </div>
                                <div class="timeline-body">
                                        <p class="text-muted">You are free to write your will yourself, but if you have a complicated estate, or simply want help, you can enlist the support of a solicitor or expert will-writer. </p>

                                        <p class="text-muted">As many as <strong>60%</strong> of people don't have wills, by some estimates. If you die without one, your estate will be distributed according to strict rules, meaning the people you care about may lose out.</p>
                
                                        <p class="text-muted"><strong>If you die without a will, your estate will be divided up in line with the rules of intestacy. This means you will have little control over who receives your estate.</strong></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/wills/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading ">When should you make a new will?</h4>
                                </div>
                                <div class="timeline-body">
                                        <p class="text-muted text-left">As you move through life your circumstances change, as do the potential risks and
                                                complications when you pass away.</p>
                            
                                                <p class="text-muted text-left">You should consider making a new will</p>
                                                <ul class="text-muted text-left">
                                                    <li>when you have an unmarried partner who should inherit from your estate.</li>
                                                    <li>when you get married, and your old will is invalidated (in England and Wales) or doesn't include your new spouse (in Scotland).</li>
                                                    <li>When you have a child so that you can appoint a guardian.</li>  
                                                    <li>When you buy a property or receive a large windfall.</li>
                                                    <li>If you get divorced, as your previous will won't automatically be invalidated. </li>    
                                                    <li>When you want to make provisions for step-children, foster children or dependents. </li>    
                                                    <li>If your spouse passes away, and your previous will left the estate to them. </li>
                                                    
                                                </ul>    
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/wills/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Make sure your will is official</h4>
                                </div>
                                <div class="timeline-body">
                                        <p class="text-muted">A will that is not properly signed and witnessed is invalid. </p>

                                        <p class="text-muted">In England, Wales and Northern Ireland, two witnesses are required. Both witnesses need to be in the same room with you when you sign the will. </p>
            
                                        <p class="text-muted">In England, Wales and Northern Ireland, you'll need to be 18 to create a will.  A witness does not need any special qualification or public standing, but is merely witnessing your signature. </p>
            
                                        <p class="text-muted">However, they must not have any beneficial interest in the will as this could make the will invalid. This means they cannot receive any gifts from the will or be named as beneficiaries.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>