<section id="lpa">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Powers of attorney</h2>
                </div>
                <div class="col-lg-12">
                    <p class="text-muted">Power of Attorney is a legal document where one person (the donor) gives another person the right to make decisions on their behalf. If you want someone to act on your behalf in financial or medical decisions, you'll need to give them Power of Attorney over your affairs.</p>
                    <p class="text-muted">You can only set up a Power of Attorney while you still have the ability to weigh up information and make decisions for yourself, known as 'mental capacity' - so it's worth putting one in place early on. </p>
                </div>
            </div>
    
            <!-- Services Section -->
            <div class="row">
                <div class="col-lg-12">
                        <p class="text-muted">Lasting Power of Attorney is the most common form of Power of Attorney. It is an ongoing arrangement with no expiry date that will allow another person to make decisions on your behalf. You can make it take effect immediately - meaning your attorney will have the power to act for you straight away - or make it effective from when you lose mental capacity. An LPA has to be registered with the government, through the Office of the Public Guardian. </p>
                        <p class="text-muted">There are two types of Lasting Power of Attorney. We would recommend setting both up at the same time. Many people do this while reviewing or revising their will. </p>
                    </div>
    
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Property and financial affairs</h4>
                    <p class="text-muted text-left">This gives your attorney the power to make decisions about your money and property, including:</p>
                        <ul class="text-muted text-left" >
                            <li>managing bank or building society accounts</li>
                            <li>paying bills</li>
                            <li>collecting a pension or benefits</li>
                            <li>if necessary, selling your home. </li>
                        </ul>
                        <p class="text-muted text-left">Once registered with the Office of the Public Guardian, it can be used immediately, or held in readiness until you lose capacity.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-medkit fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Health and welfare</h4>
                    <p class="text-muted text-left">
                        
                        <p class="text-muted text-left">This gives your attorney the power to make decisions about:</p>
                        <ul class="text-muted text-left" >
                            <li>your daily routine (washing, dressing, eating)</li>
                            <li>medical care</li>
                            <li>moving into a care home</li>
                            <li>life-sustaining medical treatment.</li>
                        </ul>
                        <p class="text-muted text-left">It can only be used once you are unable to make your own decisions, though you will need to agree to it while you still have capacity. </p>
                </div>
            </div>
    
        </div>
    </section>