<section id="who">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 mb-40">
                    <div class="section-title">
                        <h2>Who are we</h2>
                    </div>
                    <div>
                        <p>We area company of paralegals who are here to make the will writing process as easy as possible for you, we offer a full estate planning consultation with every meeting in the comfort of your own home and can offer different options when it comes to estate protection and will writing.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="https://cdn.pixabay.com/photo/2018/05/10/11/11/american-3387297_960_720.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6 mb-20">
                            <div class="about-img">
                                <img src="https://cdn.pixabay.com/photo/2017/02/09/11/18/businessman-2051664_960_720.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>