

<section id="wills"  class="bg-light-gray">
        <div class="container">
                <div class="row">
                        <div class="col-lg-12 text-center">
                            <h2 class="section-heading">Wills</h2>
                        </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3>What is a will?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">

                        <p>A will is a legal document you create that sets out instructions for who will inherit your estate and what should happen after you die. </p>
                        
                        <p>It includes what sort of funeral you would like, how you would like your possessions to be distributed, as well as other wishes, like who should bring up your children, if you have them.</p>

                        <p>Sometimes known as your last will and testament, it's a legally-binding document - but if you don't prepare it properly, it may not be valid. </p>

                        <p>As many as <strong>60%</strong> of people don't have wills, by some estimates. If you die without one, your estate will be distributed according to strict rules, meaning the people you care about may lose out.</p>

                        <p><strong>If you die without a will, your estate will be divided up in line with the rules of intestacy. This means you will have little control over who receives your estate.</strong></p>
                        
                        </br>
                    
                </div>
                <div class="col-lg-4">
                    <div class="col-md-4">
                        <span class="fa-stack big-icon">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-12 text-right">
                    <h3>When should you make a new will?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="col-md-4">
                        <span class="fa-stack big-icon">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                </div>
            <div class="col-lg-8">
        
                    <p>As you move through life your circumstances change, as do the potential risks and
                    complications when you pass away.</p>

                    <p>You should consider making a new will</p>
                    <ul>
                        <li>when you have an unmarried partner who should inherit from your estate.</li>
                        <li>when you get married, and your old will is invalidated (in England and Wales) or doesn't include your new spouse (in Scotland).</li>
                        <li>When you have a child so that you can appoint a guardian.</li>  
                        <li>When you buy a property or receive a large windfall.</li>
                        <li>If you get divorced, as your previous will won't automatically be invalidated. </li>    
                        <li>When you want to make provisions for step-children, foster children or dependents. </li>    
                        <li>If your spouse passes away, and your previous will left the estate to them. </li>
                        
                    </ul>
                    </br>
                </div>
                <div class="col-lg-12 text-left">
                        <h3>Make sure your will is official</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
    
                            <p>A will that is not properly signed and witnessed is invalid. </p>

                            <p>In England, Wales and Northern Ireland, two witnesses are required. Both witnesses need to be in the same room with you when you sign the will. </p>

                            <p>In England, Wales and Northern Ireland, you'll need to be 18 to create a will.  A witness does not need any special qualification or public standing, but is merely witnessing your signature. </p>

                            <p>However, they must not have any beneficial interest in the will as this could make the will invalid. This means they cannot receive any gifts from the will or be named as beneficiaries.</p>
                            
                            </br>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="col-md-4">
                            <span class="fa-stack big-icon">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                            </span>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    